DATABASE_URL=postgresql://neondb_owner:npg_5tiLy1zGTqjl@ep-summer-scene-a1212mzc-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=UVEutKdsvJbfaIpkYwUmStZY5IbQyXdt9YCsSPpA4ej
PORT=5000
